.cards {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.cards__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    row-gap: 32px;
    column-gap: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.cards__button {
    max-width: 320px;
    width: 100%;
    height: 36px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin: 73px auto 80px;
    color: #fff;
    border-radius: 6px;
}

@media screen and (max-width: 768px) {
    .cards {
        padding-top: 82px;
    }
    
    .cards__list {
        grid-template-columns: repeat(auto-fill, 339px);
        row-gap: 35px;
        column-gap: 30px;
    }

    .cards__button {
         margin: 82px auto 80px;
    }
}

@media screen and (max-width: 320px) {
    .cards__list {
        grid-template-columns: repeat(auto-fill, 300px);
        gap: 20px;
    }

    .cards {
        margin-top: 10px;
        padding-top: 39px;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
    .cards__button {
        max-width: 240px;
    }
}