.entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 396px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 37px;
}

.entry__title {
  align-self: flex-start;
  color: #fff;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

.entry__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form__fields {
  border: none;
  margin: 0;
  padding: 40px 0 0;
  display: flex;
  flex-direction: column;
}

.field {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  position: relative;
}

.field:first-child {
  margin-top: 0px;
}

.field__label {
  color: #8B8B8B;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 10px;

}

.field__input {
  color: #fff;
  background-color: #2F2F2F;
  padding: 15px;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
}

.field__input_type_password {
  color: #EE3465;
}

.form__error {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
}

.form__button {
  margin-top: 90px;
  background-color: #4285F4;
  opacity: 0.5;
  border: none;
  padding: 0;
  height: 45px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  transition: 1s;
}

.form__button_active {
  opacity: 1;
  cursor: pointer;
}

.entry__question {
  padding-top: 16px;
  color: #8B8B8B;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.form__button_type_login {
  margin-top: 181px;
}

.entry__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #4285F4;
}

@media screen and (max-width: 430px) {
  .entry__link {
    font-size: 12px;
    line-height: 15px;
  }

  .entry__title {
    align-self: center;
  }

  .entry {
    padding-top: 30px;
  }

  .form__fields {
    padding: 80px 29px 0;
  }

  .form__button {
    margin-top: 179px;
    font-size: 12px;
    line-height: 15px;
  }

  .entry__question {
    font-size: 12px;
    line-height: 15px;
    padding-top: 12px;
  }
}