.promo {
  display: flex;
  flex-direction: column;
  background-color: #073042;
  overflow: hidden;
}

.promo__title {
  color: #fff;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  width: 626px;
  margin: 0;
  padding: 50px 0 0 70px;
}

.promo__logo {
  width: 722px;
  object-fit: contain;
  align-self: end;
  padding: 102px 70px 60px 0;
}

@media screen and (max-width: 862px) {
  .promo__logo {
    width: 680px;
    align-self: center;
    padding: 140px 0 70px 0;
  }

  .promo__title {
    align-self: center;
    padding: 298px 0 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .promo__logo {
    width: 680px;
    height: 230px;
    align-self: center;
  }

  .promo__title {
    font-weight: 400;
    font-size: 31px;
    line-height: 39px;  
    letter-spacing: -0.04em;
    width: 300px;
  }
}


@media screen and (max-width: 430px) {
  .promo__title {
    padding: 179px 0 0 0;
  }

  .promo__logo {
    padding: 60px 0 39px 0;
  }
}