.about-me {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 110px 70px 0;
  color: #fff;
  background-color: #202020;
}

.about-me__two-columns {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}

.about-me__column {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.about-me__title {
  margin: 0;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: -0.04em;
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
}

.about-me__subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 50px;
  line-height: 58px;
  letter-spacing: -0.04em;
}

.about-me__profession {
  margin: 0;
  padding-top: 18px;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.about-me__text {
  margin: 0;
  padding-top: 26px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.about-me__git {
  text-decoration: none;
  color: #fff;
  padding-top: 99px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.about-me__photo {
  padding-left: 49px;
  width: 270px;
  object-fit: contain;
  align-self: end;
}

@media screen and (max-width: 768px) {
  .about-me {
    padding: 92px 50px 0;
  }

  .about-me__subtitle {
    font-size: 40px;
    line-height: 40px;
  }

  .about-me__profession {
    padding-top: 15px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__text {
    padding-top: 20px;
    font-size: 12px;
    line-height: 18px;
  }


  .about-me__photo {
    padding-left: 49px;
    width: 255px;
    align-self: flex-start;
  }

  .about-me__git {
    padding-top: 85px;
  }
}

@media screen and (max-width: 625px) {
  .about-me__two-columns {
    flex-direction: column-reverse;
  }

  .about-me__photo {
    padding-left: 0;
    width: 292px;
    align-self: center;
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 430px) {
  .about-me {
    padding: 140px 18px 0;
  }

  .about-me__title {
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
  }

  .about-me__subtitle {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.04em;
  }

  .about-me__text {
    font-size: 11px;
    line-height: 16px;
  }

  .about-me__git {
    padding-top: 41px;
  }
}